<div>
    <a class="btn btn-primary" href="#/home/add">Add home</a>
    <table class="mytable">
        <thead>
            <th>Id</th>
            <th>Address</th>
            <th>Number of rooms</th>
            <th>Size</th>
            <th>Heaters</th>
            <th>Inhabitant</th>
            <th>delete</th>
        </thead>
        <tbody>
            <tr ng-repeat="h in homes">
                <td>{{h.id}}</td>
                <td>{{h.address}}</td>
                <td>{{h.nbRooms}}</td>
                <td>{{h.size}}</td>
                <td>
                    <ul>
                        <li ng-repeat="heater in h.heaters">
                            {{heater.consumption}}
                        </li>
                    </ul>
                </td>
                <td>{{h.inhabitant}}</td>
                <td><input type="button" ng-click="delete(h.id)" value="x"></input></td>
            </tr>
        </tbody>
    </table>
</div>
